.container {
    background-color: rgb(1, 1, 1);

    display: grid;
    grid-template-columns: 3fr 9fr 5fr;
    grid-template-rows: 60px auto;
    grid-template-areas:
       "header header header"
       "cases visual statistics";
}
.container_padding {
    padding: 5px 5px 10px 5px;
}

.item {
    box-sizing: border-box;
    margin: 0 5px;
}

.item__header {
    grid-area: header;
}

.item__cases {
    grid-area: cases;
}

.item__visual {
    grid-area: visual;
}

.item__statistics {
    grid-area: statistics;
}