.bg-main { background: rgb(228, 228, 228); }
.bg-red { background: rgb(231, 177, 177); }
.bg-orange { background: rgb(250, 231, 189); }
.bg-green { background: rgb(222, 245, 185); }
.bg-blue { background: rgb(204, 203, 255); }
.bg-aquamarin { background: rgb(193, 238, 252); }
.bg-violet { background: rgb(226, 195, 247); }