.default-block {
    background: rgba(34, 34, 34, 1);
    border: 1px solid rgba(54, 54, 54, 1);
}
.default-block_margin_b {
    margin-bottom: 10px;
}
.default-block_padding {
    padding: 5px;
}

.default-block_border-top_none {
    border-top: 1px solid rgba(34, 34, 34, 1);
    box-sizing: border-box;
    margin-top: -1px;
}